<html>
    <head>
        <title>Messaging Application</title>
        <link rel="styleSheet" href="{{ url_for('static', filename='styleSheet.css') }}">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">

    </head>
    <body>
        <section>
            <div id="msgcontacts" name="msgcontacts">
                <label for="password" class="form-label">contacts</label>
                
            </div>
            <div class="divContainer">
                <div class="contacts" id="contacts">
                    <p>123445y5</p>

                </div>
                <div class="chat" id="chat">

                </div>
            </div>
        </section>
        <script src="{{ url_for('static', filename='messageScript.js') }}"></script> 
    </body>
    <footer>
        <p>&copy; Mallus. All rights reserved.</p>

    </footer>
</html>    